<!DOCTYPE html>
<html xmlns:th="https://www.thymleaf.org">
  <body>
    <div th:fragment="abteilungenTabelle">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Anzahl der Mitarbeiter</th>
            <th>Abteilungsleiter</th>
            <th>Urlaubslimit</th>
            <th sec:authorize="hasRole('ADMIN')">Löschen</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="a : ${abteilungen}">
            <td th:text="${a.name}"></td>
            <td th:text="${a.mitarbeiterAnzahl}"></td>
            <td
              th:text="${a.abteilungsleiter} ? ${a.abteilungsleiter.name} : 'kein Abteilungsleiter'"
            ></td>
            <td th:text="${a.maxUrlaubProzent} + '%'"></td>
            <td sec:authorize="hasRole('ADMIN')">
              <button class="btn delete-abteilung-btn" th:data-id="${a.id}">
                Löschen
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
