<!DOCTYPE html>
<html xmlns:th="https://www.thymleaf.org">
  <body>
    <div th:fragment="antraegeTabelle">
      <table>
        <thead>
          <tr>
            <th>Mitarbeiter</th>
            <th>Startdatum</th>
            <th>Enddatum</th>
            <th>Status</th>
            <th sec:authorize="!hasRole('USER')">Genehmigen</th>
            <th sec:authorize="!hasRole('USER')">Ablehnen</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="urlaubstag: ${urlaubstage}">
            <td th:text="${urlaubstag.eventName}"></td>
            <td
              th:text="${#temporals.format(urlaubstag.startdatum, 'dd.MM.yyyy')}"
            ></td>
            <td
              th:text="${#temporals.format(urlaubstag.enddatum, 'dd.MM.yyyy')}"
            ></td>
            <td th:text="${urlaubstag.status.getDisplayName()}"></td>
            <td sec:authorize="!hasRole('USER')">
              <button
                class="button genehmigen-urlaub-btn"
                th:data-id="${urlaubstag.id}"
                th:disabled="${urlaubstag.status.name() != 'BEANTRAGT'}"
              >
                Genehmigen
              </button>
            </td>
            <td sec:authorize="!hasRole('USER')">
              <button
                class="ablehnenbutton ablehnen-urlaub-btn"
                th:data-id="${urlaubstag.id}"
                th:disabled="${urlaubstag.status.name() != 'BEANTRAGT'}"
              >
                Ablehnen
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
