<!DOCTYPE html>
<html xmlns:th="https://www.thymleaf.org">
  <body>
    <div th:fragment="kalenderTabellen">
      <table>
        <thead>
          <tr>
            <th>Urlaubstage aus dem Vorjahr</th>
            <th>Freie Urlaubstage</th>
            <th>Geplante Urlaubstage</th>
            <th>Genommene Urlaubstage</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td th:text="${user.urlaubVorjahr}"></td>
            <td th:text="${user.offeneUrlaubstage}"></td>
            <td th:text="${user.geplanteUrlaubstage}"></td>
            <td th:text="${user.genommeneUrlaubstage}"></td>
          </tr>
        </tbody>
      </table>

      <table>
        <thead>
          <tr>
            <th>Startdatum</th>
            <th>Enddatum</th>
            <th>Status</th>
            <th>Löschen</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="urlaubstag: ${urlaubstage}">
            <td
              th:text="${#temporals.format(urlaubstag.startdatum, 'dd.MM.yyyy')}"
            ></td>
            <td
              th:text="${#temporals.format(urlaubstag.enddatum, 'dd.MM.yyyy')}"
            ></td>
            <td th:text="${urlaubstag.status.getDisplayName()}"></td>
            <td>
              <button
                class="btn delete-urlaub-btn"
                th:data-id="${urlaubstag.id}"
                th:disabled="${urlaubstag.status.name() == 'GENOMMEN'}"
              >
                Löschen
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
