<!DOCTYPE html>
<html xmlns:th="https://www.thymleaf.org">
  <body>
    <div th:fragment="mitarbeiterTabelle">
      <table>
        <thead>
          <tr>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>Email</th>
            <th>Abteilung</th>
            <th>Rolle</th>
            <th>Urlaubstage pro Jahr</th>
            <th>Freie Urlaubstage</th>
            <th sec:authorize="hasRole('ADMIN')">Bearbeiten</th>
            <th sec:authorize="hasRole('ADMIN')">Löschen</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="m : ${mitarbeiter}">
            <td th:text="${m.vorname}"></td>
            <td th:text="${m.nachname}"></td>
            <td th:text="${m.email}"></td>
            <td
              th:text="${m.abteilung} ? ${m.abteilung.name} : 'Keine Abteilung'"
            ></td>
            <td th:text="${m.rolle} ? ${m.rolle.name} : 'User'"></td>
            <td th:text="${m.urlaubstageProJahr}"></td>
            <td th:text="${m.verfuegbareUrlaubstage}"></td>
            <td sec:authorize="hasRole('ADMIN')">
              <button
                class="btn bearbeite-mitarbeiter-btn"
                th:data-id="${m.id}"
                th:data-vorname="${m.vorname}"
                th:data-nachname="${m.nachname}"
                th:data-passwort="${m.passwort}"
                th:data-urlaubstageProJahr="${m.urlaubstageProJahr}"
                th:data-abteilung-id="${m.abteilung} ? ${m.abteilung.id} : ''"
                th:data-rolle-id="${m.rolle} ? ${m.rolle.id} : ''"
              >
                Bearbeiten
              </button>
            </td>
            <td sec:authorize="hasRole('ADMIN')">
              <button class="btn delete-mitarbeiter-btn" th:data-id="${m.id}">
                Löschen
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
