<!DOCTYPE html>
<html xmlns:th="https://www.thymleaf.org">
  <head>
    <meta charset="ISO-8859-1" />
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <title>Abteilungen</title>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <script src="/js/abteilungen.js"></script>
  </head>
  <body>
    <div th:replace="~{common/header :: header('Abteilungen')}"></div>

    <button
      sec:authorize="hasRole('ADMIN')"
      id="abteilung-anlegen-btn"
      class="button btn-primary"
      type="button"
    >
      Abteilung anlegen
    </button>

    <div class="flex">
      <div class="tabellen-container" id="abteilungen-tabelle-container">
        <div
          th:replace="~{common/abteilungen-tabelle :: abteilungenTabelle}"
        ></div>
      </div>
    </div>

    <dialog class="kalenderForm" id="abteilung-anlegen-dialog">
      <form method="dialog" id="abteilung-anlegen-form">
        <label> Name: <input type="text" name="name" required /> </label>
        <br />
        <label>
          Urlaubslimit: <input type="number" name="limit" min="1" required />
        </label>
        <br />
        <label
          >Abteilungsleiter:
          <select name="abteilungsleiter" id="mitarbeiter-select" required>
            <option value="">Bitte wählen</option>
          </select>
        </label>
        <br />
        <div class="dialogButtons">
          <button class="button" type="submit">Speichern</button>
          <button class="button" type="button" id="anlegen-abbrechen-btn">
            Abbrechen
          </button>
        </div>
      </form>
    </dialog>
  </body>
</html>
