<!DOCTYPE html>
<html xmlns:th="https://www.thymleaf.org">
  <head>
    <meta charset="ISO-8859-1" />
    <title>Urlaubsplanung</title>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
  </head>
  <body>
    <div sec:authorize="hasRole('ADMIN')">
      Dies ist nur für Admins Sichtbar:
      <a th:href="@{/verwaltung}">Verwaltung</a>
    </div>

    Das ist einfach die Startseite.

    <p>Willkommen, <span th:text="${#authentication.name}">User</span>!</p>

    <div>
      Weiterleitung zum Kalender zum testen.
      <a th:href="@{/kalender}">Kalender</a>
    </div>
  </body>
</html>
