<!DOCTYPE html>
<html xmlns:th="https://www.thymleaf.org">
  <head>
    <meta charset="ISO-8859-1" />
    <title>Kalender</title>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <style>
      .flex {
        display: flex;
        width: 100vw;
        align-items: flex-start;
      }

      .zwei-drittel {
        flex: 2;
        height: 45vw;
      }

      .ein-drittel {
        flex: 1;
      }
    </style>
    <script src="/js/index.global.js"></script>
    <script src="/js/kalender.js"></script>
  </head>
  <body>
    <div th:replace="~{common/header :: header('Kalender')}"></div>
    <div class="flex">
      <div class="zwei-drittel" id="kalender"></div>

      <div class="ein-drittel">
        <table>
          <thead>
            <tr>
              <th>Urlaubstage aus dem Vorjahr</th>
              <th>Freie Urlaubstage</th>
              <th>Beantragte Urlaubstage</th>
              <th>Genommene Urlaubstage</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td th:text="${user.urlaubstage}"></td>
              <td th:text="${user.resturlaub}"></td>
              <td th:text="${user.urlaubstage}"></td>
              <td th:text="${user.resturlaub}"></td>
            </tr>
          </tbody>
        </table>

        <table>
          <thead>
            <tr>
              <th>Bezeichnung</th>
              <th>Startdatum</th>
              <th>Enddatum</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="urlaubstag: ${urlaubstage}">
              <td th:text="${urlaubstag.eventName}" />
              <td
                th:text="${#temporals.format(urlaubstag.startDate, 'dd.MM.yyyy')}"
              />
              <td
                th:text="${#temporals.format(urlaubstag.endDate, 'dd.MM.yyyy')}"
              />
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <dialog id="eventDialog">
      <form id="eventForm" method="dialog">
        <label for="eventName">Bezeichnung:</label>
        <input type="text" id="eventName" name="eventName" required />

        <label for="startDate">Startdatum:</label>
        <input type="date" id="startDate" name="startDate" required />

        <label for="endDate">Enddatum:</label>
        <input type="date" id="endDate" name="endDate" required />
        <span
          id="endDateError"
          style="color: red; font-size: 0.9em; display: none"
          >Das Enddatum muss nach dem Startdatum sein.</span
        >

        <div>
          <button type="submit">Einreichen</button>
          <button type="button" id="cancel">Abbrechen</button>
        </div>
      </form>
    </dialog>
  </body>
</html>
