<!DOCTYPE html>
<html xmlns:th="https://www.thymleaf.org">
  <head>
    <meta charset="ISO-8859-1" />
    <title>Kalender</title>
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <style>
      .flex {
        display: flex;
        width: 100vw;
        align-items: flex-start;
      }

      .zwei-drittel {
        flex: 2;
        height: 45vw;
      }

      .ein-drittel {
        flex: 1;
      }
    </style>
    <script src="/js/index.global.js"></script>
    <script src="/js/kalender.js"></script>
  </head>
  <body>
    <div th:replace="~{common/header :: header('Kalender')}"></div>
    <div class="flex">
      <div class="zwei-drittel" id="kalender"></div>

      <div id="urlaub-tabellen-container" class="ein-drittel">
        <div th:replace="~{common/kalender-tabellen :: kalenderTabellen}"></div>
      </div>
    </div>

    <dialog class="kalenderForm" id="eventDialog">
      <h2>Urlaub beantragen</h2>
      <form id="eventForm" method="dialog">
        <div>
          <label>
            Startdatum:
            <input type="date" id="startdatum" name="startdatum" required />
          </label>
          <br />
          <label>
            Enddatum:
            <input type="date" id="enddatum" name="enddatum" required />
          </label>
          <span
            id="enddatumError"
            style="color: red; font-size: 0.9em; display: none"
            >Das Enddatum muss nach dem Startdatum sein.
          </span>
        </div>
        <br />

        <div class="dialogButtons">
          <button class="button" type="submit">Einreichen</button>
          <button class="button" type="button" id="cancel">Abbrechen</button>
        </div>
      </form>
    </dialog>
  </body>
</html>
