<!DOCTYPE html>
<html xmlns:th="https://www.thymleaf.org">
  <head>
    <meta charset="ISO-8859-1" />
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <title>Mitarbeiter</title>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <script src="/js/mitarbeiter.js"></script>
  </head>
  <body>
    <div
      th:replace="~{common/header :: header('Mitarbeiter-Verwaltung')}"
    ></div>

      <div id="mitarbeiter-tabelle-container">
        <div
          th:replace="~{common/mitarbeiter-tabelle :: mitarbeiterTabelle}"
        ></div>
      </div>
  </body>
</html>
