<!DOCTYPE html>
<html xmlns:th="https://www.thymleaf.org">
  <head>
    <meta charset="ISO-8859-1" />
    <title>Admin</title>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
  </head>
  <body>
    <div th:replace="~{common/header :: header('Verwaltung')}"></div>
    <div sec:authorize="!hasRole('SUPER_ADMIN')">
      Nur Admins haben Zugriff auf diese Seite.
    </div>

    <div sec:authorize="hasRole('SUPER_ADMIN')">Seite für Admins.</div>

    <div>
      Wird im Weiteren Verlauf in Mitarbeiter- und Abteilungsverwaltung
      aufgetrennt
    </div>
  </body>
</html>
